.carousel {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background: linear-gradient(to right, #00093c, #2d0b00);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*  image perfectly fits container */
  object-position: center; /* image center me rahe */
  border-radius: 0; /* rounded remove for full banner look */
  filter: brightness(80%);
}

.content {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.content .author {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkorange;
}

.content .title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 50px;
}

.content .topic {
  font-size: 2rem;
  color: #f1683a;
  margin-top: 10px;
}

@media screen and (max-width: 678px) {
  .content {
    top: 20%;
    left: 5%;
  }
  .content .title {
    font-size: 1.8rem;
  }
  .content .topic {
    font-size: 1.2rem;
  }
}
