
*{
  margin: 0px;
  padding: 0px;
}
.outerhome{
  height: 60px;
  width: 100vw;
  background-color: #540b0e;
  color: wheat;
  display: flex;
  
}

.unorderlist{
  margin: 0px;
  height: 60px;
  width: 96vw;
  display: flex;
  
  list-style: none;
  gap: 50px;

  align-items: center;
  justify-content: center;
  
  
}
.Navhome{
  display: flex;
  align-items: center;
  height: 60px;
  width: 100vw;
}
#search{
  height: 35px;
  width: 250px;
  border-radius: 10px;
}
#searchbutt{
  height: 35px;
  width: 40px;
}
#logo{
  
  height: 60px;
  width: 60px;
  background-color: black;
}
#searchdiv{
  margin: 0px;
  height: 60px;
  width: 320px;
  display: flex;
  
  list-style: none;
  
  
  align-items: center;
  
}
#Logindiv{
  height: 60px;
  width: 200px;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#logbutt{
  height: 45px;
  width: 110px;
  border-radius: 10px;
  background-color: rgb(244, 255, 35)

}