#nav2 {
  background-color:  rgb(252, 181, 59);
  color: aliceblue;
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;         
  padding: 0 20px;  
  box-sizing: border-box; 
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  height: 40px;
}

.list {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 25px;
  width: 100%;   
  list-style: none;
  margin: 0;     
  padding: 0;   
   
}
